.wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }
  .wrapper .container {
    font-size: .8em;
    line-height: 14px; }

body {
  background-color: #999; }

.main-text {
  font-family: sans-serif;
  display: inline-block;
  border: 5px solid #000;
  width: 32%;
  font-size: 1em;
  color: #efefef;
  margin-bottom: 20px;
  padding-top: 30px;
  background: #ccc url() 0 0 no-repeat; }

@media screen and (max-width: 480px) {
  .main-text {
    width: 100% !important;
    font-size: 1.2em; } }
