.main-info{
	vertical-align: top;
	background-color: #eff3f7;
	border-radius: 4px;
	margin-bottom: 1.625em;
}

.info-header{
	font-size: 1.6875em;
	color: #3ba8c0;
	height: 1.875em;
	padding: 0 22px;
	border-bottom: 2px solid #3ba8c0;
	display: inline-block;
}

.main-info__img{
	display: inline-block;
	width: 14.375em;
	vertical-align: top;
}

.main-info__img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #3ba8c0;
	margin-left: 55px;
}

.main-info__list{
	display: inline-block;
	list-style: none;
	margin-bottom: 4em;
}

.main-info__list-item{
	height: 100%;
}

.main-info__text{
	font-size: .95em;
}

.main-info__text_bolder{
	font-size: 1.1em;
	font-weight: bold;
	-webkit-margin-before: 1em;
}

.skils-list{
	display: inline-block;
	list-style: none;
	width: 15em;
	height: 30px;
	vertical-align: top;
}

.skils-list__item{
	display: inline-block;
	height: 19px;
	background-image: linear-gradient(to top, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
	border-radius: 2px;
	padding: 0 15px;
	line-height: 19px;
	margin-bottom: 9px;
	margin-right: 8px;
	font-size: 0.6875em;
	color: #fff;
}