<aside class="left-panel">
  <nav class="side-nav">
    <ul class="side-nav__list">
      <li class="side-nav__list-item"><a href="#" class="side-nav__link">Про мене</a></li>
      <li class="side-nav__list-item"><a href="#" class="side-nav__link side-nav__link_active">Мої роботи</a></li>
      <li class="side-nav__list-item"><a href="#" class="side-nav__link">Зв'язок</a></li>
    </ul>
  </nav>
  <ul class="side-info">
    <li class="side-info__item side-info__item_caption"><h3 class="side-info__caption">Контакти</h3></li>
    <li class="side-info__item side-info__item_mail"><a href="mailto:vanyavi06@gmail.com" class="side-info__link">vanyavi06@gmail.com</a></li>
    <li class="side-info__item side-info__item_phone"><a href="tel:+380500308086" class="side-info__link">+380500308086</a></li>
    <li class="side-info__item side-info__item_skype"><a href="callto:+380500308086" class="side-info__link">voiceferate</a></li>
  </ul>
</aside>