<header class="main-header">
  <h1 class="header__logo"><img src="images/logo.png" alt="Loft_sChool" class="logo__img"></h1>
  <ul class="header-list">
    <li class="header-list__list-item">
	    <a href="https://vk.com" class="header-list__link header-list__link_vk"></a>
    </li>
    <li class="header-list__list-item">
	    <a href="https://twitter.com/voiceferate" class="header-list__link header-list__link_twitter"></a>
    </li>
    <li class="header-list__list-item">
	    <a href="https://www.facebook.com/profile.php?id=100005430523519" class="header-list__link header-list__link_fb"></a>
    </li>
    <li class="header-list__list-item">
	    <a href="https://github.com/voiceferate" class="header-list__link header-list__link_github"></a>
    </li>
  </ul>
  <div class="header__border"></div>
</header>